<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "编辑", edit_product_path(@product) %> <br>
  <%= link_to "返回产品列表", products_path %> <br>
  <%= link_to "删除", @product , data: {
    turbo_method: :delete,
    turbo_confirm: "确定删除#{@product.title}吗？"
  }%>
</div>
