<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "turbo", type: "module" %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body class="<%= controller_name %>">
<div id="banner">
  <%= image_tag 'logo.svg', alt: "The Pragmatic Bookshelf" %>
  <span class="title"><%= @page_title %></span>
</div>
<div id="columns">
  <div id="side">
    <div id="cart">
      <% if @cart %>
        <%= render @cart %>
      <% end %>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">Question</a></li>
      <li><a href="/">News</a></li>
      <li><a href="/">Contact</a></li>
      <li><span>访问时间：<%= @current_time %></span></li>
    </ul>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>

</html>
